<p class="lead">#i18n{module.form.exportdirectory.configuration_exportdirectory.title}</p>
<#if permission_manage>
	<#if is_mapped>
		<p>
			#i18n{module.form.exportdirectory.configuration_exportdirectory.is_mapped.title} : <strong>${mapped_directory_title}</strong>
		</p>
	</#if>
	<input id="selected_action_exportdirectory" type="hidden" name="selected_action_exportdirectory" value=""/>
	<@formGroup rows=2>
		<@btnGroup params='data-toggle="buttons"'>
			<#if is_mapped>
				<@btnGroupRadioCheckbox type='radio' name='action_exportdirectory' id='delete_mapping_directory'  value='delete_mapping_directory' labelParams='onclick="javascript:exportDirectory(this)"' labelFor='delete_mapping_directory' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.removeMappingDirectory}' />
			</#if>
			
			<#if is_mapped>
				<#assign labelKey = '#i18n{module.form.exportdirectory.configuration_exportdirectory.isMapped.createDirectory}' />
			<#else>
				<#assign labelKey = '#i18n{module.form.exportdirectory.configuration_exportdirectory.createDirectory}' />
			</#if>
			<@btnGroupRadioCheckbox type='radio' name='action_exportdirectory' id='create_directory' value='create_directory' labelParams='onclick="javascript:exportDirectory(this)"' labelFor='create_directory' labelKey=labelKey />
			
			<#if !directory_list_is_empty>
				<#if is_mapped>
					<#assign labelKey = '#i18n{module.form.exportdirectory.configuration_exportdirectory.isMapped.useDirectory}' />
				<#else>
					<#assign labelKey = '#i18n{module.form.exportdirectory.configuration_exportdirectory.useDirectory}' />
				</#if>
				<#if use_directory_exist>
					<@btnGroupRadioCheckbox type='radio' name='action_exportdirectory' id='use_directory_exist' value='use_directory_exist' labelFor='use_directory_exist' labelKey=labelKey checked=true labelParams='onclick="javascript:exportDirectory(this)"' />
				<#else>
					<@btnGroupRadioCheckbox type='radio' name='action_exportdirectory' id='use_directory_exist' value='use_directory_exist' labelFor='use_directory_exist' labelKey=labelKey labelParams='onclick="javascript:exportDirectory(this)"' />
				</#if>
			</#if>
		</@btnGroup>
	</@formGroup>

	
	<#if !directory_list_is_empty>
	<div id="display_use_directory_exist" style="display:none;">
		<@formGroup rows=2 labelFor='directory_list' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.directoryExist}'>
			<@inputGroup>
				<@select name='id_directory' items=directory_list default_value=directory_list_default_item?string size='sm' />
				<@inputGroupItem>
					<@button type='submit' name='redirect' buttonIcon='check' color='btn-secondary' />
				</@inputGroupItem>
			</@inputGroup>
		</@formGroup>
		<fieldset>
			<legend>#i18n{module.form.exportdirectory.configuration_exportdirectory.useDirectory.title}</legend>
			<#assign modif_iteration = -1/>
			<#list entry_configuration_list as entry>
				<#assign modif_form_entry = entry.use_directory_form_entry.entryConfiguration>
				<#assign buttonName = 'id_entry_directory_for_form_entry_' + entry.use_directory_form_entry.entryConfiguration.idFormEntry>
				<#if modif_form_entry.iterationNumber != -1 && modif_form_entry.iterationNumber != modif_iteration>
					<#assign modif_iteration = modif_form_entry.iterationNumber />
					<#assign buttonName = buttonName + '_iteration_' + modif_form_entry.iterationNumber>
					<div class="form-group">
						<label id="modif_iteration_${modif_form_entry.iterationNumber}_entry_${modif_form_entry.idFormEntry}" class="col-xs-12">
							${modif_form_entry.formEntryParentTitle} - #i18n{module.form.exportdirectory.configuration_exportdirectory.labelIteration}${modif_form_entry.iterationNumber}
						</label>
					</div>
					<@formGroup rows=2 labelKey='${entry.use_directory_form_entry.entryConfiguration.formEntryTitle}' class='' mandatory=true params="data-for='modif_iteration_${modif_form_entry.iterationNumber}_entry_${modif_form_entry.idFormEntry}'">
						<@select name='${buttonName}' items=entry.use_directory_list_directory_entry default_value=entry.use_directory_default_directory_entry?string />
					</@formGroup>
				<#else>
					<#assign iter_class = ''>
					<#assign parms_form = ''>
					<#if modif_form_entry.iterationNumber != -1>
						<#assign buttonName = buttonName + '_iteration_' + modif_form_entry.iterationNumber>
						<#assign parms_form = "data-for='modif_iteration_${modif_form_entry.iterationNumber}_entry_${modif_form_entry.idFormEntry}'">
					</#if>
					<@formGroup rows=2 labelKey='${entry.use_directory_form_entry.entryConfiguration.formEntryTitle}' mandatory=true class='' params=parms_form>
						<@select name='${buttonName}' items=entry.use_directory_list_directory_entry default_value=entry.use_directory_default_directory_entry?string />
					</@formGroup>
				</#if>
			</#list>
		</fieldset>
	</div>
	</#if>
	
	<div id="display_create_directory" style="display:none;">
		<#if workflow_list?exists && workflow_list?size &gt; 0 >
			<@formGroup rows=2 labelFor='id_workflow' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelAddWorkflow}'>
				<@select name='id_workflow' items=workflow_list default_value='-1' />
			</@formGroup>
		</#if>
		<#if entry_configuration_list?exists && entry_configuration_list?size &gt; 0 >
		<@table>
			<tr>
				<th>#i18n{module.form.exportdirectory.configuration_exportdirectory.entry_form}</th>
				<th>#i18n{module.form.exportdirectory.configuration_exportdirectory.result_list}</th>
				<th>#i18n{module.form.exportdirectory.configuration_exportdirectory.search}</th>
			</tr>
			<#assign iteration = -1/>
			<#list entry_configuration_list as entry>
				<#assign form_entry = entry.use_directory_form_entry.entryConfiguration>
				<#if form_entry.iterationNumber != -1 && form_entry.iterationNumber != iteration>
					<#assign iteration = form_entry.iterationNumber/>
					<#assign duplicateConfig =  iteration == 1 && entry.use_directory_form_entry.iterationMaximumNumber gt 1 >
					<tr id="iteration_${form_entry.iterationNumber}_entry_${form_entry.idFormEntry}" class="">
						<td colspan=<#if duplicateConfig>1<#else>3</#if>>
							<div>
								${form_entry.formEntryParentTitle} - <em>#i18n{module.form.exportdirectory.configuration_exportdirectory.labelIteration}${form_entry.iterationNumber}</em>
							</div>
						</td>
						<#if duplicateConfig>
							<td colspan=2>
								<div class="checkbox checkbox-iteration-conf">
								<#assign checkboxName = "duplicate_iteration_configuration_" + entry.use_directory_form_entry.idEntryParent>
								<label for="${checkboxName}">
									<input id="${checkboxName}" type="checkbox" name="${checkboxName}" checked onclick="javascript:displayHideIterationConfiguration(${checkboxName},${entry.use_directory_form_entry.idEntryParent});"/>
									#i18n{module.form.exportdirectory.configuration_exportdirectory.labelDuplicateIterationConfiguration}
								</label>
								</div>
							</td>
						</#if>
					</tr>
				</#if>
				<tr <#if form_entry.iterationNumber != -1>data-for="iteration_${form_entry.iterationNumber}_entry_${form_entry.idFormEntry}"</#if> <#if form_entry.iterationNumber gt 1>class="group-${entry.use_directory_form_entry.idEntryParent}" style="display:none;"</#if>>
					<td>${form_entry.formEntryTitle}</td>
					<td><input type="checkbox" name="is_in_result_list_${form_entry.idFormEntry}<#if form_entry.iterationNumber != -1>_iteration_${form_entry.iterationNumber}</#if>" /></td>
					<#if entry.use_directory_form_entry_type!=entry_type_file & entry.use_directory_form_entry_type!=entry_type_image>
						<td><input type="checkbox" name="is_in_search_${entry.use_directory_form_entry.entryConfiguration.idFormEntry}<#if form_entry.iterationNumber != -1>_iteration_${form_entry.iterationNumber}</#if>" /></td>
					<#else>
						<td>&nbsp;</td>
					</#if>
				</tr>
			</#list>
		</@table>
		</#if>
		
		<@formGroup labelFor='add_numbering_entry1' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelAddNumberingEntry}' rows=2>
			<@radioButton orientation='horizontal' labelFor='add_numbering_entry' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelAddNumberingEntryYes}' name='add_numbering_entry' id='add_numbering_entry1' value='1' checked=true />
			<@radioButton orientation='horizontal' labelFor='add_numbering_entry' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelAddNumberingEntryNo}' name='add_numbering_entry' id='add_numbering_entry2' value='0' />
		</@formGroup>
		
		<@formGroup labelFor='add_numbering_entry_prefix' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelAddNumberingEntryPrefix}' rows=2>
			<@input type='text' name='add_numbering_entry_prefix' value='' maxlength=255 />
		</@formGroup>
		
		<@formGroup labelFor='activate_directory_record' helpKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.useDirectory.activate_directory_record_comment}' rows=2>
			<@checkBox name='activate_directory_record' id='activate_directory_record' value='1' checked=true labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.useDirectory.activate_directory_record}' />
		</@formGroup>
		
		<@formGroup labelFor='is_indexed' helpKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.useDirectory.is_indexed_comment}' rows=2>
			<@checkBox name='is_indexed' id='is_indexed' value='1' checked=true labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.useDirectory.is_indexed}' />
		</@formGroup>
		
		<#if create_directory?has_content>
			<fieldset id="directoryTypeEntry">
				<legend>#i18n{module.form.exportdirectory.configuration_exportdirectory.createDirectory.title}</legend>
				<#assign previousEntryGroup = -1/>
				<#assign previousIterationNumber = -1/>
				<#list create_directory as entry>
					<#assign buttonName = 'id_entry_type_'+ entry.form_entry.idEntry>
					<#assign idEntry = (entry.form_entry.idEntry)?string>
					<#if entry.form_entry_configuration.entryConfiguration?has_content && entry.form_entry_configuration.entryConfiguration.iterationNumber != -1>
						<#assign buttonName = buttonName + '_iteration_' + entry.form_entry_configuration.entryConfiguration.iterationNumber>
					</#if>
					<#assign params = ''/>
					<#assign class = ''/>
					<#assign idGroup = entry.form_entry_configuration.idEntryParent />
					<#assign maxIterationNumber = entry.form_entry_configuration.iterationMaximumNumber />
					<#assign currentIterationNumber = entry.form_entry_configuration.entryConfiguration.iterationNumber />
					<#if maxIterationNumber != -1>
						<#assign class = 'radio-button-iteration-config'/>
						<div>
							<div>
							<#if currentIterationNumber != previousIterationNumber>
								<#assign previousIterationNumber = currentIterationNumber/>
								<b>${form_entry.formEntryParentTitle} - <em>#i18n{module.form.exportdirectory.configuration_exportdirectory.labelIteration}${currentIterationNumber}</em></b>
								<#if currentIterationNumber == maxIterationNumber && currentIterationNumber != 1>
									<div class="title-separator-group">
										<br />
									</div>
								</#if>
							</#if>
							</div>
							<div>
							<#if maxIterationNumber gt 1>
								<#if currentIterationNumber == 1 && previousEntryGroup != idGroup>
									<#assign previousEntryGroup = idGroup/>
									<#assign checkBoxTypeName = 'duplicate_iteration_configuration_type_' + idGroup/>
									<@checkBox id='${idGroup}' name='${checkBoxTypeName}' checked=true labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelDuplicateIterationConfiguration}' labelFor='${checkBoxTypeName}' params='class="checkbox-group-type" onclick="javascript:displayHideIterationConfigurationType(${checkBoxTypeName}, ${idGroup})"'/>
									<br />
								</#if>
								<#if currentIterationNumber gt 1>
									<#assign class = 'radio-button-iteration-config type-group-' + idGroup />
									<#assign params = 'style="display:none;"'/>
								</#if>
							</#if>
							</div>
						</div>
					</#if>
					<@formGroup labelKey=entry.form_entry.title rows=2 params=params class=class>
						<#assign buttonMandatory = true>
						<#assign class = ''>
						<#if currentIterationNumber gt 1>
							<#assign buttonMandatory = false>
							<#assign class = 'button-iterable button-iterable-group-' + idGroup>
						</#if>
						<#list entry.directory_entry_type as entry_type>
							<@radioButton orientation='horizontal' name='${buttonName}' value='${entry_type.idType}' mandatory=buttonMandatory labelKey='#i18n{${entry_type.titleI18nKey}}' params='class="${class}"' />
						</#list>
					</@formGroup>
				</#list>
			</fieldset>
		</#if>
		
		<#if map_entry_image?has_content >
			<fieldset>
				<legend>#i18n{module.form.exportdirectory.configuration_exportdirectory.image_configuration} :</legend>
				<#list map_entry_image as image>
					<#assign imageEntry = image.form_entry>
					<#assign imageConfig = image.form_entry_configuration>
					<label>${imageEntry.title}<#if imageConfig?has_content && imageConfig.iterationNumber != -1> - <em>#i18n{module.form.exportdirectory.configuration_exportdirectory.labelIteration}${imageConfig.iterationNumber}</em></#if></label>
					
					<#assign name = imageEntry.idEntry>
					<#if imageConfig?has_content && imageConfig.iterationNumber != -1>
						<#assign name = 'nIt' + imageConfig.iterationNumber + '_' + name>
					</#if>
					
					<@formGroup labelFor='create_thumbnail_${name}' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.generate_thumbnail}' showLabel=false>
						<@checkBox name='create_thumbnail_${name}' id='create_thumbnail_${name}' params='onclick="hideField(\'create_thumbnail_${name}\', \'thumbnail_field_${name}\');"' labelFor='create_thumbnail_${name}' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.generate_thumbnail}' />
					</@formGroup>
					
					<div name="thumbnail_field_${name}" id="thumbnail_field_${name}">
						<@formGroup labelFor='thumbnail_height_${name}' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.thumbnail_height}*' rows=2>
							<@input type='text' name='thumbnail_height_${name}' id='thumbnail_height_${name}' />
						</@formGroup>
						<@formGroup labelFor='thumbnail_width_${name}' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.thumbnail_width}*' rows=2>
							<@input type='text' name='thumbnail_width_${name}' id='thumbnail_width_${name}' />
						</@formGroup>
					</div>
					
					<@formGroup labelFor='create_big_thumbnail_${name}' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.generate_big_thumbnail}' showLabel=false>
						<@checkBox name='create_big_thumbnail_${name}' id='create_big_thumbnail_${name}' params='onclick="hideField( \'create_big_thumbnail_${name}\',\'big_thumbnail_field_${name}\')"' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.generate_big_thumbnail}' />
					</@formGroup>
					
					<div name="big_thumbnail_field_${name}" id="big_thumbnail_field_${name}">		
						<@formGroup labelFor='' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.thumbnail_height} *' rows=2>
							<@input type='text' name='big_thumbnail_height_${name}' id='big_thumbnail_height_${name}' />
						</@formGroup>
						<@formGroup labelFor='' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.thumbnail_width} *' rows=2>
							<@input type='text' name='big_thumbnail_width_${name}' id='big_thumbnail_width_${name}' />
						</@formGroup>
					</div>
				</#list>
			</fieldset>
		</#if>
		
		<#if map_entry_geolocalisation?has_content>
			<#assign previousEntry = -1>
			<#list map_entry_geolocalisation as geolocalisation>
				<#assign entry = geolocalisation.form_entry>
				<#assign entryConfig = geolocalisation.form_entry_configuration>
				<#if entryConfig.idFormEntry != previousEntry>
					<#if previousEntry != -1>
						</fieldset>
					</#if>
					<#assign previousEntry = entryConfig.idFormEntry>
					<fieldset>
						<legend>${entry.title} 
							<#if entry.mapProvider?has_content>(${entry.mapProvider.displayedName})</#if>
						</legend>
				</#if>
				<#assign labelKey>
					${entry.title}
					<#if entryConfig?has_content && entryConfig.iterationNumber != -1> - #i18n{module.form.exportdirectory.configuration_exportdirectory.labelIteration}${entryConfig.iterationNumber}</#if>
					<#if entry.mapProvider?has_content> (${entry.mapProvider.displayedName})</#if>
				</#assign>
				<@formGroup labelKey=labelKey rows=2 mandatory=true>
					<#assign attributeName = entry.idEntry>
					<#if entryConfig?has_content && entryConfig.iterationNumber != -1>
						<#assign attributeName = 'nIt' + entryConfig.iterationNumber + '_' + entry.idEntry>
					</#if>
					<#list list_directory_map_providers as map_provider>
						<@radioButton name='key_geolocation_${attributeName}' value='${map_provider.key}' labelKey='${map_provider.displayedName}' />
					</#list>
					<@radioButton name='key_geolocation_${attributeName}' value='none' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.noMapProvider}' />
				</@formGroup>
			</#list>
			<#if previousEntry != -1>
				</fieldset>
			</#if>
		</#if>
	</div>
		
	<#if record_form &gt; 0>
		<div id="record_Form" style="display:none;">
			<@callOut color='warning'>
				<@icon style='warning' /> #i18n{module.form.exportdirectory.configuration_exportdirectory.labelExportAll}
				<@formGroup labelFor='export_all' rows=2>
					<@radioButton orientation='horizontal' name='export_all' id='export_record_form' value='1' checked=true labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelExportAllYes}' />
					<@radioButton orientation='horizontal' name='export_all' id='export_record_form' value='0' labelKey='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelExportAllNo}' />
				</@formGroup>
			</@callOut>
		</div>
	</#if>
<#else>
	<@callOut title='#i18n{module.form.exportdirectory.configuration_exportdirectory.labelNotPermission}' titleLevel='p' callOutIcon='warning' color='danger' />
</#if>

<script type="text/javascript">
<#if map_entry_image?has_content>
	var listIdName = [];
	<#list map_entry_image as image>
		<#assign name = imageEntry.idEntry>
		<#if image.form_entry_configuration?has_content && image.form_entry_configuration.iterationNumber != -1>
			<#assign name = 'nIt' + image.form_entry_configuration.iterationNumber + '_' + name>
		</#if>
		var item = { thumbnail : 'thumbnail_field_${name}', big_thumbnail : 'big_thumbnail_field_${name}' };
		listIdName.push( item );
	</#list>
	for (var i = 0; i < listIdName.length; i++)
	{
		document.getElementById( listIdName[i].thumbnail ).style.display="none";
		document.getElementById( listIdName[i].big_thumbnail ).style.display="none";
	}
</#if>

<#if use_directory_exist?? && use_directory_exist>
	<#if !directory_list_is_empty>
		document.getElementById("display_use_directory_exist").style.display="block";
	</#if>
	<#if record_form &gt; 0>
		document.getElementById("record_Form").style.display="block";
	</#if>
	document.getElementById("use_directory_exist").parentElement.classList.add('active');
</#if>

function exportDirectory(buttonElement) {
	elementId = buttonElement.getElementsByTagName("input")[0].id;
	var currentBtn = document.getElementById(elementId);
	currentBtn.checked=true;
	$("#selected_action_exportdirectory").val(currentBtn.id);
	
	if (elementId == "delete_mapping_directory" || "use_directory_exist") {
		if(currentBtn.checked) {
			var asterisks = $("label.col-xs-12").children();
			$(asterisks).remove();
			
			var radioButtons = $("[name^='id_entry_type_']");
			for (i=0; i < radioButtons.length; i++) {
				radioButton = radioButtons[i];
				$(radioButton).removeAttr("required","true");
			};
		};
	}
	
	if (elementId == "delete_mapping_directory") {
		if(currentBtn.checked)
		{
			document.getElementById("display_use_directory_exist").style.display="none";
			document.getElementById("display_create_directory").style.display="none";
			document.getElementById("record_Form").style.display="none";
		}
	}	else if (elementId == "create_directory") {
		if(currentBtn.checked)
		{
			<#if !directory_list_is_empty>
			document.getElementById("display_use_directory_exist").style.display="none";
			</#if>
			<#if record_form &gt; 0>
			document.getElementById("record_Form").style.display="block";
			</#if>
			document.getElementById("display_create_directory").style.display="block";
			
			var radioButtonsLabels = $("#directoryTypeEntry").find("label.col-xs-12");
			for (i=0; i < radioButtonsLabels.length; i++) {
				var radioButtonLabel = radioButtonsLabels[i];
				var asterisk = '<i class="fa fa-asterisk"></i>';
				$(radioButtonLabel).append(asterisk);
			}
			
			var radioButtons = $("[name^='id_entry_type_']");
			for (i=0; i < radioButtons.length; i++) {
				radioButton = radioButtons[i];
				$(radioButton).attr("required","true");
				if ( $(radioButton).hasClass("button-iterable") ) {
					$(radioButton).removeAttr('required');
				}
			}

		}
	}	else if (elementId == "use_directory_exist") {
		if(currentBtn.checked)
		{
			<#if !directory_list_is_empty>
			document.getElementById("display_create_directory").style.display="none";
			<#if !directory_list_is_empty>
				document.getElementById("display_use_directory_exist").style.display="block";
			</#if>
			<#if record_form &gt; 0>
				document.getElementById("record_Form").style.display="block";
			</#if>
			</#if>
		}
	}
}

function hideField( checkbox, field ){
var objcheckbox = document.getElementById(checkbox);
var objfield = document.getElementById(field);		
objfield.style.display=(objcheckbox.checked==false)?"none":"block";
return true;
}
</script>
<script type="text/javascript" src="js/plugins/form/modules/exportdirectory/form-exportdirectory.js"></script>